<!DOCTYPE HTML>
<!-- NOT WORKING
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Manufacturers:</h1>
    <form action="@{/showCars}"  method="post">
	 	<select  th:field="*{allTypes}">
	 	
		  <option th:each="car : ${allTypes}" 
		          th:value="${car}" 
		          th:text="*{car.make}">Model</option>
		</select>
		<p><input type="submit" value="Submit" />
	</form>
</body>
</html>
-->