<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Descending Order</title>

</head>
<body>
	   
		
		 
		 <table>
					<tr>
						<th>Name </th>
						<th>Birth date</th>
						<th>Young driver</th>
						<!-- adding new column for update -->
						<th>Action</th>
					</tr>
    
				     
				    <tr th:each="customer : ${customerDesc}">
				    
				    	<td th:text="${customer.name}"></td>   
				    	<td th:text="${#temporals.format(customer.birthDate, 'dd/MMMM/yyyy')}"></td>   
				    	<td th:text="${customer.isYoungDriver}"></td>   	
				    </tr>
				    
    	</table>
    	
</body>
</html>